body{
	/*background: #8D99AE;*/
	background: linear-gradient(#8D99AE , #63728B);
	height: 100vh;
}

.center{
	display: flex;
	justify-content: center;
}

.left{
	display: flex;
	justify-content: left;
}

.icon{
	margin: 10px;
}

.option:hover{
	background: #EF233C;
}

.option:hover .subtitles{
	color: #2B2D42;
}

.title{
	font-family: 'Roboto Mono', monospace;
	font-size: 50pt;
	color: #2B2D42;
}
.low{
	margin-top: 150px;
}

.subtitles{
	font-family: 'Roboto Mono', monospace;
	color: #EDF2F4;
	text-decoration: none;
}
.video{
	width: 100%; 
/*	max-height: 600px;*/
	/*object-fit: cover;*/
}

a:hover{
	text-decoration: none;
}