/*stylesheet*/
body{
	/*background: #8D99AE;*/
	background: linear-gradient(#c4e7d4 , #85B79D );
	height: 100%;
	/*background: linear-gradient(-70deg, #151515, #0C1B33);*/
	/*background: linear-gradient( #C4E7D4, #2F935C);*/
	/*background: linear-gradient(-70deg, #c4e7d4 80%, #F28500 10%);*/
	/*background: linear-gradient(-70deg, #FFF1E0, #FFC175);*/

	/*so that gradient streches over the whole background*/
	background-repeat: no-repeat;
  background-attachment: fixed;

}

.center{
	display: flex;
	justify-content: center;
	text-align: center;
}

.left{
	display: flex;
	justify-content: left;
}

.fill-page{
	height: 100vh;
}

.icon{
	margin: 10px;
	border-radius: 20px;
}

.Button{
	position: fixed; 
	background: #F28500; 
	margin-top: 20px; 
	margin-bottom: 30px;
	border-radius: 3px;
}

.homeButtonText{
	margin: 4px; 
	right: 3px; 
	position: absolute;
	font-family: 'Roboto Mono', monospace;
	color: #EDF2F4;
	text-decoration: none;
	font-size: 20pt;
}
.Button:hover{
	box-shadow: 2px 4px #2B2D42;
	background: #FF910A;
}


#HomeButton{

	width: 100px; 
	height: 50px; 
	bottom: 0; 
	left: -5px;
}

#start{
	bottom: 0; 
	right: -5px;
}

#startText{
	font-size: 30pt;
	color: #EDF2F4;
	margin: 10px;
	margin-right: 100px;
}


.option{
	background: rgb(225, 253, 208, 0.2);
	border-radius: 30px;	
	/*margin: px;*/
	/*width: 330px;*/
	text-align: center;
}


.option:hover{
	background: #F28500;
}

.option:hover .subtitles{
	color: #504746;
}


.title{
	font-family: 'Roboto Mono', monospace;
	font-size: 50pt;
	color: #2B2D42; /*or #504746*/
	margin: 30px;
	background: rgb(225, 253, 208, 0.2);
	border-radius: 30px;
}
.low{
	margin-top: 150px;
}

.subtitles{
	font-family: 'Roboto Mono', monospace;
	color: #EDF2F4;
	text-decoration: none;
}

.steps{
	font-family: 'Roboto Mono', monospace;
	color: #EDF2F4;
	text-decoration: none;
	font-size: 20pt;
/*	height: 500px;*/
	position: relative;
}

.video{
	/*height: 80vh; */
	width: 93%; 
	opacity: 50%;
	border: 5px solid #85B79D;
/*	max-height: 600px;*/
	/*object-fit: cover;*/
}

a:hover{
	text-decoration: none;
}

.videoHands{
	width: 100%; 
	position: absolute; 
	left: 0;
}



/*the drag and drop code*/
.drag-drop {
	z-index:2;
	position: relative;
	display: inline-block;
	min-width: 40px;
	padding: 2em 0.5em;
	margin: 1rem 0 0 1rem;
	/*color: #fff;*/
	touch-action: none;
	transform: translate(0px, 0px);
	transition: background-color 0.3s;
	height: 250px; 
	position: absolute; 
}

.right-hand{
	right: 0; 
}

.left-hand{
	left: 0;
}

.drag-drop.can-drop {
  color: #000;
  background-color: red;
  	/*background: red;*/
}
/*the drag and drop code*/




/*icons in index page*/
/*boat*/
.boat{
	margin: 10px;
	width: 304px;
	height: 304px;
	background: url('images/resultBoatcopy.png');
	background-position: center;
}
/*change icon when one hovers over image*/
.boat:hover {
  background: url('images/resultBoat2copy.png');
	background-position: center;
}

/*crane*/
.crane{
	margin: 10px;
	width: 304px;
	height: 304px;
	background: url('images/resultCrane.png');
	background-position: center;
}
/*change icon when one hovers over image*/
.crane:hover {
  background: url('images/craneFlip.png');
	background-position: center;
}

/*frog*/
.frog{
	margin: 10px;
	width: 304px;
	height: 304px;
	background: url('images/resultFrog.jpg');
	background-position: center;
}
/*change icon when one hovers over image*/
.frog:hover {
  background: url('images/frogFlip.png');
	background-position: center;
}


/*index page*/

/*child*/
#child{
	position: absolute;
	left: 20%;
	bottom: 0;
	width: 16%;
	z-index: 1;
	animation-name: Thechild; 
	animation-duration: 0.5s; 
	animation-iteration-count: infinite; 
}
@keyframes Thechild{
	50% {left: 20%;}
	50% {left: 22%;}
}

#childBuble{
	position: absolute;
	left: 5%;
	margin-bottom: 18%;
	width: 23%;
	bottom: 0;
	z-index: 0;
}

/*mother*/
#mother{
	position: absolute;
	right: 30%;
	bottom: 0;
	width: 20%;
	z-index: 1;
	animation-name: Themother; 
	animation-duration: 0.75s; 
	animation-iteration-count: infinite; 

}
@keyframes Themother{
	50% {right: 30%;}
	50% {right: 33%;}
}
#motherBubble{
	position: absolute;
	margin-bottom: 19%;
	width: 30%;
	right: 13%;
	bottom:0;
	z-index: 0;
}


/*ad page*/
.box{
	background: #D7DAE5; 
	margin-top: 50px; 
	border-style: dotted; 
	border-width: 50pt; 
	border-color:#002A32; 
	animation-name: Thebox; 
	animation-duration: 0.5s; 
	animation-iteration-count: infinite; 
	box-shadow: 5px 5px 5px dimgrey;
}

@keyframes Thebox {
	50% {border-color:#002A32;}
	50% {border-color:#FFFF9F;}
}

.text{
	font-size: 50pt; 
	text-align: center;
}
#ad{
	background: #CAD178;
}

