body{
	/*background: #8D99AE;*/
	background: linear-gradient(#c4e7d4 , #85B79D );
	height: 100%;

	/*so that gradient streches over the whole background*/
	background-repeat: no-repeat;
  background-attachment: fixed;

}

.center{
	display: flex;
	justify-content: center;
}

.left{
	display: flex;
	justify-content: left;
}

.fill-page{
	height: 100vh;
}

.icon{
	margin: 10px;
}

.option:hover{
	background: #F28500;
}

.option:hover .subtitles{
	color: #504746;
}

.title{
	font-family: 'Roboto Mono', monospace;
	font-size: 50pt;
	color: #2B2D42; /*or #504746*/
}
.low{
	margin-top: 150px;
}

.subtitles{
	font-family: 'Roboto Mono', monospace;
	color: #EDF2F4;
	text-decoration: none;
}

.steps{
	font-family: 'Roboto Mono', monospace;
	color: #EDF2F4;
	text-decoration: none;
	font-size: 20pt;
}

.video{
	height: 80vh; 
	opacity: 50%;
	border: 5px solid #85B79D;
/*	max-height: 600px;*/
	/*object-fit: cover;*/
}

a:hover{
	text-decoration: none;
}



/*the drag and drop code*/

/*#outer-dropzone {
	height: 610px;
}

#inner-dropzone {
}*/

.dropzone {
}

.drop-active {

}

.drop-target {

}

.drag-drop {
	z-index:2;
	position: relative;
	display: inline-block;
	min-width: 40px;
	padding: 2em 0.5em;
	margin: 1rem 0 0 1rem;
	/*color: #fff;*/
	touch-action: none;
	transform: translate(0px, 0px);
	transition: background-color 0.3s;
	height: 250px; 
	position: absolute; 
}

.right-hand{
	right: 0; 
}

.left-hand{
	left: 0;
}

.drag-drop.can-drop {
  color: #000;
  background-color: red;
  	/*background: red;*/
}

.boat{
	margin: 10px;
	width: 304px;
	height: 304px;
	background: url('images/resultBoatcopy.png');
	background-position: center;

}
.boat:hover {
  background: url('images/resultBoat2copy.png');
	background-position: center;
}

